.container-tagline-wrap{
    display: flex;
    justify-content:center;
    background: #051219;
}
.container-tagline{
    flex: 1;
    max-width: 1181px;
    height: 454px;
    -webkit-box-shadow: -20px 0 2px #08202a, 20px 0 2px #08202a;
    box-shadow: -20px 0 2px #08202a, 20px 0 2px #08202a;
    background-image: linear-gradient(to bottom, #091f28 0%,#13313d 44%,#0b242e 100%);
}
.tagline-multi-wrap {
    padding: 25px 0px 35px 0px;
    font-size: 16px;
}
.tagline-big-1 {
    display: flex;
    flex-direction: column;
}
strong {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: white;
    line-height: 36.45px;
}
.tagline-multi-wrap p {
    font-size: 19px; 
    line-height:  25.65px;
    color: white;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding-top: 15px;
}
.tagline-phone-number {
    color: #aa4444;
    font-size: 37px;
    font-family: "Open Sans", sans-serif;
    line-height: 49.95px;
    font-weight: 900;
}
.tagline-pracs {
    display: flex;
    flex-wrap: nowrap;
}
.prac-container-wrap {
    display: flex;
    height: 190px;
    flex: 1;
}
.prac-container {
    border-top: black 10px solid;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: 14px;
    flex: 1;
    background: #223E48;
}
.prac-image {
    width: 161px;
    background: white;
    height: 233px;
}
.prac-desc {
    align-self: center;
    width: 193px;
}
.prac-desc h1 {
    font-size: 19px;
    color: white;
    line-height: 26.79px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}
.prac-desc p {
    color: white;
    margin: 0;
    margin-top: 10px;
    font-size: 17px;
    line-height: 23.97px;
}
@media (max-width:1180px) {
    .prac-container-wrap {
        flex: 1;
}
    .prac-image {
        position: relative;
        width: 30%;
        height: calc( 17vw );
    }
    .prac-desc {
        width: 80%;
    }
    .prac-desc h1 {
        display: flex; 
        justify-content: flex-start;
    }
    .prac-desc p {
        
        text-align: left;
    }
}